html {
    box-sizing: border-box;
    height: 100%;
    border: $window-border;
}

body {
    box-sizing: border-box;
    height: 100%;
    border: $window-shadow-border;
    background-color: $window-background-color;
    background-image: url('../img/bg_2.png');
    background-position: top center;
    background-repeat: no-repeat;
    // color: $font-color;
}

.frame {
    display: flex;
    flex-direction: column;
    > .header {
        display: flex;
        flex-direction: column;
        background-color: $window-backgraund-color;
        // backdrop-filter: blur(5px);
        -webkit-app-region: drag;
        user-select: none;
        > .top {
            display: inline-flex;
            > .left {
                min-width: 113px;
            }
            > .center {
                flex-grow: 1;
            }
            > .right {
                min-width: 113px;
                text-align: right;
                > .options {
                    display: inline-flex;
                    > li {
                        > i {
                            -webkit-app-region: no-drag;
                        }
                    }
                }
            }
        }
        // > .middle {}
        > .bottom {
            border-bottom: $frame-border-bottom;
        }
    }
}

.header-detail {
    border-bottom: $frame-border-bottom;
    height: 8px;
    &::before {
        left: 107px;
        top: 0px;
        transform: rotate(45deg);
    }
    &::after {
        right: 107px;
        top: 0px;
        transform: rotate(-45deg);
    }
    &::before, &::after {
        width: 12px;
        height: 7px;
        content: '';
        position: absolute;
        bottom: 0;
        border-bottom: $frame-border-bottom;
    }
}