html {
    box-sizing: border-box;
    height: 100%;
    border: $window-border;
}

body {
    box-sizing: border-box;
    height: 100%;
    border: $window-shadow-border;
    background-color: $window-background-color;
}

.window {
    display: flex;
    flex-direction: column;
    > .header {
        background-color: $window-backgraund-color;
        -webkit-app-region: drag;
        user-select: none;
        display: flex;
        flex-direction: column;
        > .top {
            display: inline-flex;
            > .left {
                flex-grow: 1;
                padding: 5px;
            }
            > .center {
                flex-grow: 4;
                > .header-detail {
                    background-color: $gray;
                    border: 1px solid $gray;
                    border-top: none;
                    border-radius: 0 0 20px 20px;
                    height: 10px;
                }
            }
            > .right {
                flex-grow: 1;
                padding: 5px;
                > .options {
                    list-style-type: none;
                    text-align: right;
                    padding: 0;
                    margin: 0;
                    > li {
                        display: inline-block;
                        > i {
                            -webkit-app-region: no-drag;
                        }
                    }
                }
            }
        }
        > .bottom {
            border-bottom: $window-shadow-border;
        }
    }
}